body {
  background-color: rgb(223, 223, 148);
}
.header {
  text-align: center;
}
.product{
    display: inline-block;
    width: 24.75%;
    height: 400px;
    text-align: center;

}
.product img{
    width: 100%;
    height: 100%;
}
.button{
    border-radius: 10px;
    background-color: red;
    color: aliceblue;
    width: 60px;
}