@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  background-color: #191919;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}
nav ul li a:hover {
  transform: scale(1.2);
  color: #f82d4e;
}
nav ul li a:active {
  text-decoration: none;
  color: white;
}
.logo {
  color: #f82d4e;
  font-size: 2rem;
  font-weight: 700;
}

/* hero section */
.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  background-image: url(../images/slider-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 550px;
}

.hero-section h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f82d4e;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hero-section h1 .hi {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}
.hero-section h1 .web {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 20px;
  color: gray;
}

/* section 1 */

.container {
  width: 80%;
  margin: auto;
}
.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 40px;
}
.image-holder {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.left-side-sec1 {
  position: relative;
  width: 50%;
  z-index: 1;
}

.left-side-sec1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid #555555;
  border-radius: 6px;
  top: -20px;
  left: -20px;
  z-index: -1;
}
.left-side-sec1 img {
  display: block;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.Right-side-sec1 {
  width: 50%;
}

.Right-side-sec1 h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.Right-side-sec1 h2::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 30px;
  background-color: #f82d4e;
}
.Right-side-sec1 p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: gray;
  border-bottom: 1px dashed #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Right-side-sec1 .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Right-side-sec1 .info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.Right-side-sec1 .info .data {
  color: gray;
}

.Right-side-sec1 .buttons {
  display: flex;
  gap: 20px;
}
.Right-side-sec1 .buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Right-side-sec1 .buttons .btn1 {
  background-color: #f82d4e;
  color: white;
}
.Right-side-sec1 .buttons .btn1:hover {
  background-color: white;
  color: #f82d4e;
  border: 1px solid #f82d4e;
}
.Right-side-sec1 .buttons .btn2 {
  background-color: white;
  color: #f82d4e;
  border: 1px solid #f82d4e;
}
.Right-side-sec1 .buttons .btn2:hover {
  background-color: #f82d4e;
  color: white;
}

/* section 2 */
.sec2,
.sec4 {
  background-color: #d3cece;

  padding: 50px;
}

.sec2 h2,
.sec3 h2,
.sec5 h2,
.sec6 h2,
.sec7 h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.sec2 h2::before,
.sec3 h2::before,
.sec5 h2::before,
.sec6 h2::before,
.sec7 h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #f82d4e;
}
.sec2 h2::after,
.sec3 h2::after,
.sec5 h2::after,
.sec6 h2::after ,
.sec7 h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60px;
  height: 14px;
  border-top: 1px solid #f82d4e;
  border-bottom: 1px solid #f82d4e;
}
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.services .service {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  width: 25%;
}
.sec2 .services .white {
  background-color: white;
}
.services .service i {
  color: #f82d4e;
}
.services .service p {
  color: gray;
}

/* section 3 */

.sec3 {
  padding: 20px;
  margin-top: 60px;
}

.sec3 .liks {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sec3 .liks ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.sec3 .liks ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  /* padding: 10px 20px; */
  border-radius: 5px;
}
.sec3 .liks ul li a:hover {
  color: #f82d4e;
}

.sec3 .photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* section 5 */

.sec5 {
  padding: 20px;
  margin-top: 60px;
}

.feedback-card {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  background-color: #e6e6e6;
  padding: 0;
  min-height: 300px;
  overflow: hidden;
}
.card-image-container {
  position: relative;
  width: 40%;
  flex-shrink: 0;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #f82d4e 60%, #c21c38 60%);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 1;
}

.card-image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  border: 5px solid white;
}

.card-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec5 h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #333;
}

.location {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: gray;
}

.location i {
  /* color: #f82d4e; */
  margin-right: 5px;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 20px;
  color: #555;
}

.sec5 .rating i {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #f0c20c;
  margin-right: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #f82d4e;
  cursor: pointer;
}

.dot.active {
  width: 30px;
  border-radius: 20px;
  background-color: #f82d4e;
}

/* section 6 */

.sec6 {
  padding: 20px;
  margin-top: 60px;
  background-color: #e6e6e6;
}

.sec6 .blog-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}
.sec6 .blog-card {
  border: 1px solid #e6e6e6;
  width: 32%;
}
.sec6 .blog-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.sec6 .blog-card p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: gray;
}

.bottom {
  padding: 30px;
  background-color: white;
}

.sec6 i {
  color: #f82d4e;
}


/* section 7 */

.sec7 {
    padding: 60px 0;
    margin-bottom: 50px;
}
.sec7 form {
    max-width: 800px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;      
}
.sec7 .form-row {
    display: flex;
    gap: 20px;
}
.sec7 input, 
.sec7 textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc; 
    border-radius: 5px;    
    outline: none;          
    font-size: 1rem;
    color: #555;
    transition: 0.3s;
}
.sec7 input:focus, 
.sec7 textarea:focus {
    border-color: #f82d4e;
}

.sec7 textarea {
    height: 150px;   
    resize: vertical;
}
.sec7 button {
    background-color: #f82d4e;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    align-self: center;
}


/* footer */

footer {
    background-color: #191919; 
    padding: 50px 0;
    text-align: center;
    color: white;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

footer .social-icons i {
    color: white;
    font-size: 1.5rem; 
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
footer .social-icons i:hover {
    color: #f82d4e;
    transform: translateY(-5px); 
}
footer p {
    font-size: 1.1rem;
    color: #bbb; 
}
footer .highlight {
    color: #f82d4e;
    font-weight: 700;
    cursor: pointer;
}



